<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>TRAINandGROW acceuil</title>
</head>
<body>

    <nav class="nav">
        <div class="profile">
            <img src="../static/images/TrainandGrow-.PNG" height="70" width="70" class="logo">
            <h1>TRAINandGROW</h1>
        </div>
           
        <ul>
            <li><a src="#">Cours</a></li>
            <li><a src="#">pratique</a></li>
            <li><a src="#">contact</a></li>
        </ul>
    </nav>

    <section class="section">
        <div class="sous-section">
                <div class="text">
                        <h1>Technologie et innovation</h1>
                        <p>Ce site a pour but de présenter les différents projet de Machine Learning et des cours gratuit pour les étudiants dans le domaine de Machine Learning. Ce site se focalise sur le traitement d'image (Computer Vision) et le traitement 
                                automatique de langage naturelle (TANL).Et vous aussi pouvez tester quelques projets 
                                de machine Learning sur cette plateforme.
                        </p>
                    </div>
        </div>
       
        <div class="image">
            <img src="../static/images/image_acceuil.jpg" alt="">
        </div>
        
    </section>
    <section class="section-1">
            <div class="button">
                    <a class="a" href="smile">
                        <button id ="projets" class="projets"> 
                                Aller voir les projets
                        </button>
                    </a>
                    
            </div>
    </section>
    
    <footer>
        
            <div class="contenu-footer">
                    <div class="div-footer-elem">
                            <img class="logo" src="../static/images/call.png" alt="">
                            <p>+261 34 39 126 82</p>
                    </div>
                    <div class="div-footer-elem">
                            <img class="logo" src="../static/images/letter.png" alt="">
                            <p>mahefasandra@gmail.com</p>
                    </div>
            </div>
            <div id="contenu-footer1" class="contenu-footer">
                    <div class="div-footer-elem">
                            <img class="logo" src="../static/images/facebook.png" alt="">
                            <a href="https://www.facebook.com"><p>Facebook</p></a>
                    </div>
                    <div class="div-footer-elem">
                            <img class="logo" src="../static/images/twitter.png" alt="">
                            <a href="https://www.twitter.com"><p>Twitter</p></a>
                    </div>
                    <div class="div-footer-elem">
                            <img class="logo" src="../static/images/instagram.png" alt="">
                            <a href="https://www.instagram.com"><p>Instagram</p></a>
                    </div>
                    <div class="div-footer-elem">
                            <img class="logo" src="../static/images/skype.png" alt="">
                            <a href="https://www.skype.com"><p>Skype</p></a>
                    </div>
            </div>
        
      
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../trainandgrow/javascript/index.js"></script>
    
</body>
</html>